.header {
  background-color: rgb(27, 26, 26);
  box-shadow: 0 4px 8px 0 rgba(136, 136, 136, 0.2),
    0 6px 20px 0 rgba(144, 144, 144, 0.19);
}
img {
  margin: 2rem 0;
  margin-left: 3rem;
  width: 100px;
}
